<h2>Restablecer Contraseña</h2>

<form action="/api/sessions/reset-password?token={{token}}" method="post">
    <input type="password" placeholder="introduce tu nueva contraseña" name="newPassword">
    <br></br>
    <button>Establecer Nueva Contraseña</button>
</form>